$color-bg: #141627;
$color-bg-card: #1C1F37;
$color-accent: #D1F366;
$color-accent-2: #EC502C;

$color-text-main: #D0D4E7;
$color-text-additional: #5F647E;
$color-text-accent: #141627;

$font-main: "Helvetica Neue";
$font-additional: Poppins;

$margin-onhover-sidebar-main: 0;
